{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
    <title>Welcome KDH HomePage</title>
    <meta charset="utf-8">
    </head>
    <body>
        <div style="text-align: center">
            <br>
            <br>
            <br>
            <br>
            <br>
    <h1>ABOUT ME</h1>
    <h4 style="color: green">
    <br/>
    <a href="https://github.com/jsobb"> github</a>
    <a href="https://blog.naver.com/subreak"> Blog</a>
    <a href="https://www.instagram.com/j_sobb/"> Instargram</a>
    <h4 style="color: rgb(22, 6, 6)"> 
        
        <br><br>
        <br>저는 이런 사람입니다.</h4>
        <br>
    <h5>1998년생, 대한민국 출생, 남자<br>광고를 공부하는 3학년
<br>코알못, 코린이<br> 슬슬다가오는 취업걱정과 또 다른 문제들이 가득한 사람</h5>

 
 
    </div>
    </body>
</html>
{% endblock %}