{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">

    <h1>글 목록</h1>
    
    <div>
        <h3>{{blog.title}}</h3>
        {% if blog.writer %}
        {% if 'user' in blog.writer.username %}
            작성자: {{blog.writer.last_name}} {{blog.writer.first_name}}
        {% else %}
            작성자: {{blog.writer}}
        {% endif %}
        {% else %}
            작성자: 알수 없음
        {% endif %}<br>
        
        {% for blog in blogs %}
        <div>
            <h3>{{blog.title}}</h3>
            {% if blog.writer %}
            {% if 'user' in blog.writer.username %}
                작성자: {{blog.writer.last_name}} {{blog.writer.first_name}}
            {% else %}
                작성자: {{blog.writer}}
            {% endif %}
            {% else %}
                작성자: 알수 없음
            {% endif %}<br>
                {{blog.summary}}
            <a href="{%url 'main:detail' blog.id%}">...more</a>
            <br><hr>
        </div>
        {%endfor%}
    </div>
    {% else %}
    <h3>로그인 후 이용 가능</h3>
    <a href ="{% url 'account_login'%}">로그인</a>
    <a href ="{% url 'account_signup'%}">회원가입</a>
    {% endif %}

</div>
{% endblock %}